
<div class=" Main bgc ">
    <h1 class="m-auto d-flex justify-content-center">{{ title }}</h1>
    <div class="d-flex m-5 container1 border border-success rounded shadow-lg p-3 mb-5 rounded">
        <div class="text-white About-Me font w-50 ">
            Меня зовут Ярослав,люблю играть в компьютерные игры.Живу в Гомеле.Мечтаю побывать в разных странах.Учусь на програмиста,и надеюсь что у меня получится стать в будущем Sineor ранга.Рассказать много о себе я не могу, так как на ум ничего не приходит,поэтому прошу прощения!
        </div>
        <div class="Its-me-img w-50">
            <div class="d-flex justify-content-center align-items-center ">
            </div>
            <app-pipe></app-pipe>
        </div>
    </div>
    <div class="exp d-flex m-4 ">
        <div class="rabota w-25 m-4 w-25 border border-success rounded shadow-lg p-3 mb-5 rounded">
            <h2>Опыт работы</h2>
            <li>Работал 2 года на слесаря по сельхоз технике</li>
            <li>Так как мне 20 лет,то и опыт работы не большой</li>
        </div>
        <div class="skills w-25 m-4 w-25 border border-success rounded shadow-lg p-3 mb-5 rounded">
            <h2>Умения</h2>
            <app-ng-for></app-ng-for>
        </div>
        <app-ip></app-ip>
        <div class="podrobnosti w-25 m-4 w-25 border border-success rounded shadow-lg p-3 mb-5 rounded">
            <h2>Подробности</h2>
            <li>Мне нравится писать код,несмотря на то что нужно много знать.</li>
            <li>Хочу в будущем работать на этой професии,в хорошей компании</li>
            <li>Хочу добится своих целей и не что меня не остановит</li>
            <li>У меня есть никнейм " {{ name }} "</li>
        </div>
    </div>
    <div class="d-flex justify-content-center align-items-center flex-column ">
        <h2>Мои соцсети</h2>
    </div>
    <div class="d-flex justify-content-center align-items-center flex-column ">
        <app-ng></app-ng>
        <app-ng-switch></app-ng-switch>
    </div>
    
</div>
